<!DOCTYPE html>
<html lang="en" lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./js/app.js"></script>
</head>
<body>
    {{>header}} 
    <div>This help</div>
    {{>footer}}
</body>
</html>