<footer> 
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </div> 
        <div>
            <p>created by @manoj</p>
        </div>
</footer>